.searchForm {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .searchForm button, .searchForm select{
    border: none;
    border-radius: 30px;
    background-color: brown;
    color: white;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
  }

  .searchForm button:hover{
    background-color: rgb(18, 178, 222);
  }


  

  